{% extends "portal/portal.html" %}
{% comment %}
  Main page to authenticate users.
{% endcomment %}

{% block content %}

<div id="wrap">

    <div id="content">
    <h1>EVF provisioning login</h1>
    <h2>Please use your Cloud credentials.</h2>
    {% if form.errors %}
      <p style="color:red">Your username and password didn't match, please try again.</p>
    {% endif %}

    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
      {% csrf_token %}
      <p>
        {{ form.username.label_tag }}
        {{ form.username }}
      </p>
      <p>
        {{ form.password.label_tag }}
        {{ form.password }}
      </p>
        <input type="submit" class="styled-button-green" value="Login" />
      {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
      {% else %}
        <input type="hidden" name="next" value="/portal/" />
      {% endif %}

    </form>
    </div>
</div>
{% endblock %}